{% extends "automation-base.html" %}
{% block content %}

<div class="container my-container">  
   <div class="text-left padding"><h4><p style="color:rgb(223, 238, 16)"><i>Let's generate some config templates {{ request.user.username }}! ( ͡ᵔ ͜ʖ ͡ᵔ )</i></p></h4>

  <p><div class="text-left padding"><h6><a href="{% url 'config_templates_example' %}"><i>View an example of how the csv and jinja2 files merge <u>here</u></i></a></h6></div></p>
  <p><div class="text-left padding"><h6><a href="{% url 'csv_dl_reference_templates' %}"><i>You can download blank csv templates (with all variable headers in the csv) for all types of devices <u>here</u></i></a></h6></div></p>
  <p><div class="text-left padding"><h6><a href="{% url 'jinja2_templates' %}"><i>You can download jinja2 files <u>here</u> (for viewing only to analyze)</i></a></h6></div></p>
   <br>
   <form method="POST">
    <div class="row my-row">

    <div class="col-md-12"> 
      <label for="UPLOAD"><font color="white">Step 1: Let's get started....Upload your variables file</font><font color = red><i>
          <b> (This step can be skipped if already uploaded)</b></i></font></label>
        <p><a href="{% url 'upload_config_templates' %}" class="btn btn-primary btn-sm" name="btnlink1">Upload CSV file (Your variables)</a></p>
      </div>  
      


      <div class="form-group col-md-6"> 
          <br>
          <label for="csvfile"><font color="white">Step 2: Choose your variables file (.csv file)</font></label></input> 
          <select class="custom-select" id="csvvarspost" name="csvvarspost">
          <option selected>Choose your variables file...</option>
          {% for c in csvvars %}
          <option value="{{ c }}">{{ c }}</option>
          {% endfor %}
        </select>
        </div>

  
       
        
        <div class="form-group col-md-6">
          <br>
          <label for="jinja2varpost"><font color="white">Step 3: Choose your config template (.j2 file).</label></input> 
            <select class="custom-select" id="jinja2varpost" name="jinja2varpost">
              <option selected>Choose your platform file...</option>
              {% for t in jinjatemplates %}
              <option value="{{ t }}">{{ t }}</option>
              {% endfor %}
            </select>
          </div>
          
  

          <div class="form-group col-md-12">  
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm" name="btnform2">Generate Configs!</button>
            </div> 

      </form>

      <form method="POST">
      <div class="form-group col-md-12"> 
          <br>
          <label for="csvfile"><font color="white">Choose a csv variables file to view in PSQL Format (Tabulated)</font></label></input> 
          <select class="custom-select" id="csvvarspost" name="csvvarspost">
          <option selected>Choose your variables file...</option>
          {% for c in csvvars %}
          <option value="{{ c }}">{{ c }}</option>
          {% endfor %}
        </select>
        </div>

            <div class="form-group col-md-12">  
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm" name="btnform20">View The Variables File...</button>
            </div> 
      </form>
</div> 

<br>
<br>

</div>
</div>
<br>
<br>
<br>
<br>
{% endblock content %}