{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <script src="https://kit.fontawesome.com/fd8a9f1fe6.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Neural Automation Server</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link href="{%static "neural/assets/img/favicon.ico" %}" rel="icon">
  <link href="{%static "neural/assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static "neural/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{%static "neural/assets/vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href="{%static "neural/assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{%static "neural/assets/vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href="{%static "neural/assets/vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{%static "neural/assets/vendor/aos/aos.css" rel="stylesheet" %}">

  <!-- Template Main CSS File -->
  <link href="{%static "neural/assets/css/style.css" %}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= note using d-inline-flex moved nav to the left --> 
  <header id="header" class="fixed-top">
    <div class="container d-flex justify-content-center align-items-center">
    <!--<div class="container d-flex align-content-space-evenly"> --> 
      <div class="logo mr-auto">
        <a href="{% url 'home' %}"><img src="{%static "neural/assets/img/neural-logo.jpg" %}" alt="" class="rounded img-fluid">   </a> 
      </div>

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li class="active"><a href="{% url 'home' %}"><i class="fa fa-home"> Home</i></a></li> 
          
          <li class="drop-down"><a href=""><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i> Browse The System</a>
            <ul>
              <li><a href="{% url 'devices' %}"><i class="fa fa-database" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i> Neural Inventory (Includes Configs and Configs Diffs)</a></li>

              <li><a href="{% url 'import_device_inventory' %}"><i class="fa fa-database" aria-hidden="true"></i>&nbsp<i class="fa fa-plus" aria-hidden="true"></i> Add Devices To Inventory</a></li>
            <li><a href="{% url 'all_job_results' %}"><i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp Job Results (System Wide)</a></li> 
            <li><a href="{% url 'logs' %}"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp Logs (System Wide)</a></li>
            <!--<li><a href="{% url 'network_configs' %}"><i class="fa fa-download" aria-hidden="true"></i>&nbsp Network Config Backups and Diffs</a></li>-->
 
            <li><a href="https://neural.domainname.com/django-rq/"><i class="fa fa-binoculars" aria-hidden="true"></i> Neural Redis Job Queue</a></li>
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-lock" aria-hidden="true"></i> Django Admin Interface</a></li>
            <li><a href="{% url 'pcap_output_files' %}"><i class="fa fa-download" aria-hidden="true"></i>&nbsp Download PCAPs (System Wide)</a></li> 
            <li><a href="{% url 'api-root' %}"><i class="fa fa-code" aria-hidden="true"></i>&nbsp Neural Rest API</a></li>
            <!-- <li><a href="{% url 'scp_file_upload_to_neural' %}"><i class="fa fa-upload" aria-hidden="true"></i> Neural SCP File Transfers</a></li> -->
            
            <li class="drop-down"><a href=""><i class="fa fa-user" aria-hidden="true"></i>&nbsp {{ request.user.first_name }}'s Tasks</a>
              <ul> 
                <li><a href="{% url 'automation_output_configs' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp<i class="fa fa-download" aria-hidden="true"></i> Your Output Configs</a></li>
                <li><a href="{% url 'generated_config_files' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp<i class="fa fa-download" aria-hidden="true"></i> Your Config Templates</a></li>
                <li><a href="{% url 'view_all_scheduled_jobs' %}"><i class="fa fa-binoculars" aria-hidden="true"></i> Your Scheduled Jobs</a></li>
                <li><a href="{% url 'user_job_results' %}"><i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp Your Job Results</a></li>
              </ul>
            </li>
          
            <li class="drop-down"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp Admin</a>
              <ul>
                <li><a href="{% url 'admin:index' %}"><i class="fa fa-lock" aria-hidden="true"></i> Django Admin Interface</a></li>
                <li><a href="{% url 'admin_manage_inventory' %}"><i class="fa fa-lock" aria-hidden="true"></i> Manage Device Inventory</a></li>
                
                <li><a href="{% url 'admin_all_automation_output_configs' %}"><i class="fa fa-lock" aria-hidden="true"></i> Manage All Output Configs</a></li>

                <li><a href="{% url 'admin_all_generated_config_files' %}"><i class="fa fa-lock" aria-hidden="true"></i> Manage All Config Templates</a></li>
                <li><a href="{% url 'admin_view_all_scheduled_jobs' %}"><i class="fa fa-lock" aria-hidden="true"></i> Manage All Scheduled Jobs</a></li>

                <li><a href="{% url 'neural_backup_download' %}"><i class="fa fa-lock" aria-hidden="true"></i> Neural Server Backup (Only root has access)</a></li>
                <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> Neural Server Restore (Must be done by root via CLI)</a></li>
                <li><a href="http://neural.domainname.com/phpmyadmin/index.php"><i class="fa fa-file-text-o" aria-hidden="true"></i> neural-phpMyAdmin - View/Manage MySQL</a></li>
                
              </ul>
            </li>


            <li class="drop-down"><a href=""><i class="fa fa-link" aria-hidden="true"></i> Links</a>
              <ul>
                <li><a href="https://github.com/bspunt/ndna_v2_neural"><i class="fa fa-github" aria-hidden="true"></i> NDNAv2_NEURAL Git Repo</a></li>
                <li><a href="https://discord.com/invite/HWPfUTamKe"><i class="fa fa-commenting-o" aria-hidden="true"></i> NDNAv2_NEURAL Discord Server</a></li>
                <li><a href="https://www.automate-the-network.com"><i class="fa fa-link" aria-hidden="true"></i> Automate The Network - NDNAv1/v2-Neural Website</a></li>
                <li><a href="https://www.linkedin.com/in/brettspunt/"><i class="fa fa-link" aria-hidden="true"></i> Developer's LinkedIn Page</a></li>
                <li><a href="https://www.w3schools.com/python/"><i class="fa fa-link" aria-hidden="true"></i> Python w3schools Page</a></li>
                <li><a href="{% url 'neural_python_interpreter' %}"><i class="fa fa-code" aria-hidden="true"></i>&nbsp Python Interpreter Sandbox</a></li>
              </ul>
            </li>
            </ul>
          <li class="drop-down"><a href=""><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp<i class="fa fa-network-wired" aria-hidden="true"></i> Network Automation</a>
            <ul>
              <li class="drop-down"><a href=""><i class="fa fa-cogs fa-spin" aria-hidden="true"></i> NEURAL Ad-Hoc Automation</a>
                <ul>
                  <li><a href="{% url 'ad_hoc_automation_selected_devices' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Database Driven Ad-Hoc Automation</a></li>
                  <!-- <li><a href="{% url 'ad_hoc_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Ad-Hoc | Free Form</a></li>
                  <li><a href="{% url 'ad_hoc_automation_db_query' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Ad-Hoc Using Inventories</a></li> -->
                  <li><a href="{% url 'ad_hoc_unique_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Unique Ad-Hoc/Freeform Automation</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href=""><i class="fa fa-cogs" aria-hidden="true"></i> Config_Template Driven Unique Automation</a>
                <ul>
                  <li><a href="{% url 'unique_automation' %}"><i class="fa fa fa-cogs" aria-hidden="true"></i> Using Neural Generated Configs</a></li>
                  <li><a href="{% url 'unique_automation_manual_configs' %}"><i class="fa fa fa-cogs" aria-hidden="true"></i> Using Custom Configs Upload</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Self Service Programs</a>
                <ul>
              <li><a href="{% url 'fw_ad_hoc_tcpdump_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> ad-hoc unique tcpdump automation</a></li>
              <li><a href="{% url 'neural_notebooks' %}"><i class="fa fa-network-wired" aria-hidden="true"></i> NEURAL Notebooks</a></li>
            </ul>
          </li>

          <li><a href="{% url 'compliance_golden_configs' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Compliance | Golden Configs (Import/View/Compare)</a></li>
          <li><a href="{% url 'napalm_get_automation' %}"><i class="fa fa-network-wired" aria-hidden="true"></i> Network Utilities (NAPALM Getters)</a></li>
          </ul>

          <li class="drop-down"><a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i> Config-Templating</a>
            <ul>
              <li><a href="{% url 'generate_config_templates' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Generate Configurations</a></li>
              <li><a href="{% url 'unique_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Push Configs to the Network</a></li>
              <li class="drop-down"><a href="{% url 'jinja2_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp<i class="fa fa-download" aria-hidden="true"></i> Manage Files</a>
                <ul>
                  <li><a href="{% url 'upload_config_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Upload a CSV Variable File</a></li>
                  <li><a href="{% url 'upload_jinja_config_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Upload a Jinja2 Template</a></li>

                  <li><a href="{% url 'jinja2_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Download Jinja2 Reference Templates</a></li>
                  <li><a href="{% url 'csv_dl_reference_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Download Blank CSV Reference Templates</a></li>                
                  <li><a href="{% url 'generated_config_files' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ request.user.username }}! Manage Your Generated Config Files</a></li>
                </ul>
              </li>
                  
            </ul>
          </li>
          
          <li class="drop-down"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp<i class="fa fa-clock" aria-hidden="true"></i> Metrics</a>
            <ul>

              <li class="drop-down"><a href=""><i class="fas fa-bar-chart"></i> Neural Monthly Charts</a></a>
                <ul>
                  <li><a href="{% url 'monthly_log_stats' %}"><i class="fas fa-bar-chart" aria-hidden="true"></i> Monthly Logs</a></li>
                  <li><a href="{% url 'monthly_job_results_stats' %}"><i class="fas fa-bar-chart" aria-hidden="true"></i> Monthly Job Results</a></li>
                </ul>
              </li>

              <li class="drop-down"><a href=""><i class="fas fa-clock"></i> Neural Complete Database Charts</a></a>
                <ul>
                  <li><a href="https://neural.domainname.com:3000/d/ngKBwZpMk/neural-job-results?from=now-30d&orgId=1&to=now&refresh=5s"><i class="fas fa-bar-chart" aria-hidden="true"></i> Job Results & Logs</a></li>
                  <!-- <li><a href="http://neural.domainname.com:3000/d/rYdddlPWk/neural-server-stats?orgId=1&from=now-6h&to=now"><i class="fas fa-bar-chart" aria-hidden="true"></i> Job Results</a></li> -->
                </ul>
              </li>              
              <li><a href="{% url 'user_disk_usage' %}"><i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp Per User Disk Usage (Configs Directory)</a></li>
              <li><a href="http://neural.domainname.com:61208/"><i class="fa fa-television" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i>&nbsp Neural Server Stats (Glances)</a></li>
              <li><a href="https://neural.domainname.com:3000/d/rYdddlPWk/neural-server-stats?orgId=1&from=now-6h&to=now"><i class="fa fa-television" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i>&nbsp Neural Server Stats (Grafana)</a></li>
              
            </ul>

            {% if request.user.is_authenticated %}
            <li class="drop-down"><a href=""><b>Hello there {{ request.user.first_name }}!</b></a>
             <!--<a href="{% url "home" %}?next=/"><b>Hello {{ request.user.first_name }}! | Logout</b></a> -->
             <ul>
              <li><a href="{% url "logout" %}">Logout</a></li>
              <li><a href="{% url 'password_change' %}">Change Your Password</a></li>
             </ul>
            
            {% else %}
            <li><a href="{% url 'login' %}"> Login</a></li>
            {% endif %}
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= neural main Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>NEURAL<small> Automation Server <h4>NDNAv2: Codename: <i>*neural*</i></h4></small></h1>
      <h2><i>N*etwork E*ngineer's U*nified R*ealtime A*utomation L*ibrary</i> &copy; </h2>
      <a href="#services" class="btn-get-started scrollto">Get to know what NEURAL can do for you...</a><br><br>
      <h2><i>Your pathway to network automation</i> <i class="fa fa-sitemap fa-1x fa-fw"></i></h2>
      <h6><a href="{% url 'logout' %}">Logout</a><br><h6><a href="{% url 'password_change' %}">Change Your Password (Local Accounts Only - Not LDAP)</a></h6></h6>
    </div>
  <!-- <div class="container text-center text-md-center" data-aos="fade-up"></div> -->
  <div class="container text-center text-md-left" data-aos="fade-up">
      <!-- <br><a href="#Demo" class="get-started-btn2 scrollto">Get Started With A Demo of NEURAL</a> -->
      <br><br><a href="#FeatureRequest" class="get-started-btn2 scrollto"><i>Have Questions or Feature Requests? Click Here!</i></a>
      <br><br>
      <h6><font color="white">A Few Quick Links For Ya....</font></h6>
      <h6><a href="{% url 'ad_hoc_automation_selected_devices' %}" class="yellow">Run Database Driven Ad_Hoc Automation!</a></h6>
      <h6><a href="{% url 'ad_hoc_unique_automation' %}" class="yellow">Run Ad_Hoc Unique Automation!</a></h6>
      <h6><a href="{% url 'fw_ad_hoc_tcpdump_automation' %}" class="yellow">Automate Packet Captures on Multiple Nodes!</a></h6>
      <br>
      <h6><a href="https://github.com/bspunt/ndna_v2_neural"><i class="fa fa-github" aria-hidden="true"></i> NEURAL Git Repo (Source Code)</a></h6>
      <h6><a href="https://discord.com/invite/HWPfUTamKe" class="yellow"><i class="fa fa-commenting-o" aria-hidden="true"></i> Join The NDNAv2_NEURAL Discord Server</a></h6>
      <br>
      <h6><font color="white">Setup Your System With A Few Critical Settings....</font></h6>
      <h6><a href="{% url 'setup' %}" class="yellow"><i class="yellow fa fa-laptop" aria-hidden="true"></i> Setup the FQDN and "Email_To_Address" for NEURAL (This is Required for Links and Job Notifications to work)</a></h6>
      <h6><a href="https://github.com/bspunt/ndna_v2_neural"><i class="fa fa-github" aria-hidden="true"></i> Lastly, be sure to modify your settings.py file with SMTP relay for email notifications to work. <br>(See github README.md for instructions)</a></h6>
    </div>
  </section><!-- End neural main -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services Provided by NEURAL</h2>
          <h4><p>Using Neural, you'll be able to do all kinds of network automation. </p>
            <p> In addition, Neural is a full featured configuration templating system. </p><p><br>See below for more details on what Neural will provide!
          </p></h4>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">All Kinds Of Automation!</a></h4>
              <p class="description"><b>Including:</b> free-form, Unique and self-service (Pre-Built-Programs using SSH or REST APIs). <b>No coding skills needed!</b>
                You can choose to "run-now" or "schedule later" for any type of automation.<br><br><br><img src="{%static "neural/assets/img/automation.jpg" %}" alt="" width="150" height="150" class="rounded img-fluid"></p>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Automation That's Fast!</a></h4>
              <p class="description">Perform Analysis or Programming at Scale, with no limit on output file size, threading, plus writing the output to separate files for each node and writing job results to MySQL<br><br><br><br><img src="{%static "neural/assets/img/speed.png" %}" alt="" width="110" height="90" class="rounded img-fluid"></p>
            </div>
          </div>

          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bxl-redux"></i></div>
              <h4 class="title"><a href="">Full Integration with NDNAv1!</a></h4>
              <p class="description">NEURAL is tightly integrated w/ NDNA, with the ability to run all NDNA discovery & automation via Neural and view all NDNA device inventories via Neural too! <br><br><br><br><a href="https://www.automate-the-network.com"><img src="{%static "neural/assets/img/atn.jpg" %}" alt="" width="150" height="150" class="rounded img-fluid"></a></p>
            </div>
          </div> -->

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Config Templating using Jinja2/CSV files</a></h4>
              <p class="description"><b>No coding skills needed! Couldn't be easier!</b> Just upload your CSV w/ variables filled in, 
                then choose the device platform, and create your templates. You can then push out to the network or download your configs (single file or all via zip file).
                <br><br><img src="{%static "neural/assets/img/jinja2.png" %}" alt="" width="100" height="100" class="rounded img-fluid"></p>
            </div>
          </div>
          
        </div>
      </div>

    </section><!-- End Services Section -->

    <!-- ======= Golden Configs Section ======= -->
    <section id="Golden" class="services section-bg">
          <div class="container">
          <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-folder-open"></i></div>
              <h4 class="title"><a href="">Golden Configurations For Compliance</a></h4>
              <p class="description"><b>No coding skills needed! Couldn't be easier!</b><br> Just upload your Golden Configurations via an easy to use webform.
                .<br><!-- <img src="{%static "neural/assets/img/jinja2.png" %}" alt="" width="100" height="100" class="rounded img-fluid"></p> -->
            </div>
          </div>
       

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-cog"></i></div>
              <h4 class="title"><a href="">Run Compliance Checks At Scale!</a></h4>
              <p class="description">You can run compliance checks against the production network on a single device or at scale!
                <br><!--  <img src="{%static "neural/assets/img/jinja2.png" %}" alt="" width="100" height="100" class="rounded img-fluid"></p> -->
            </div>
          </div>
        

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-code-alt"></i></div>
              <h4 class="title"><a href="">Config Backups and Config Diffs </a></h4>
              <p class="description">You can set weekly backups and then run compare diffs on configs to see changes!
            </div>
          </div>
      </div>
      </div>
      </div>

    </section><!-- End Golden Configs  Section -->

    <!-- ======= FeatureRequest Section ======= -->
    <section id="FeatureRequest" class="faq section-bg">
      <div class="container"> 
        <form method="POST">
          <div class="section-title" data-aos="fade-up">
            <h4><font color="red">Have a question regarding Neural or a feature request?
             <br><br>Have Questions regarding Custom Development/Self-Service Programs Or Training? <br><br>See Contact Info below or Direct Message me on our Discord Server</font></h4>
          </div>
      </div>
    </section><!-- End FeatureRequest Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Developer Contact Info:</h2>
          <!--<p>Brett M. Spunt, CCIE No. 12745<br>Senior Network Engineer<br>SD-WAN|WAN|Python SME</p>-->
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">

              <div class="email mt-4">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>bspunt_2000@yahoo.com</p>
              </div>

              <div class="phone mt-4">
                <i class="icofont-phone"></i>
                <h4>Phone:</h4>
                <p>310-480-0381</p>
              </div>

            </div>

          </div>

          <div class="col-lg-5 d-flex align-items-stretch">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10494.296727730853!2d-118.25270347718579!3d34.05677937472421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20CA!5e0!3m2!1sen!2sus!4v1630966046586!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>

        </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <div class="social-links mt-3">
                <a href="https://www.linkedin.com/in/brettspunt/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/bspunt/ndna_v2_neural"><i class="fa fa-github" aria-hidden="true"></i> NEURAL Git Repo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://discord.com/invite/HWPfUTamKe"><i class="fa fa-commenting-o" aria-hidden="true"></i> NDNAv2_NEURAL Discord Server</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.automate-the-network.com">Automate The Network Website</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <span>Brett M. Spunt, CCIE No. 12745 | Network Automation & WAN Architect</span> | All Rights Reserved. 
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static "neural/assets/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{%static "neural/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{%static "neural/assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src="{%static "neural/assets/vendor/php-email-form/validate.js" %}"></script>
  <script src="{%static "neural/assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
  <script src="{%static "neural/assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{%static "neural/assets/vendor/venobox/venobox.min.js" %}"></script>
  <script src="{%static "neural/assets/vendor/aos/aos.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static "neural/assets/js/main.js" %}"></script>

</body>

</html>