{% extends "automation-base.html" %}

{% block content %}
    <br>
    <br>
    <br>
<div class="container my-container" url-endpoint='{% url "log_chart_data" %}'>
    <div class="text-center padding"><h4><font color=green> <i>Python Interpreter Sandbox</i></font></h4></div> 
    <div class='row'>
	   <div class='col-sm-12'>
		<br>
        <iframe src="https://trinket.io/embed/python/41b8e566f4" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
	   </div> -->

        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock content %}