{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <!-- code for tables/search -->
  <link rel="stylesheet" href="https:stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https:cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


  <link href="{%static "neural/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <script src="https://kit.fontawesome.com/fd8a9f1fe6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>NEURAL Automation Server</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link href="{%static "neural/assets/img/favicon.ico" %}" rel="icon">
  <link href="{%static "neural/assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static "neural/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{%static "neural/assets/vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href="{%static "neural/assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <!-- <link href="{%static "neural/assets/vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet"> -->
  <link href="{%static "neural/assets/vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{%static "neural/assets/vendor/aos/aos.css" rel="stylesheet" %}">

  <!-- Template Main CSS File -->
  <link href="{%static "neural/assets/css/style.css" %}" rel="stylesheet">

<!-- Vendor JS Files -->
<script src="{%static "neural/assets/vendor/jquery/jquery.min.js" %}"></script>
<script src="{%static "neural/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{%static "neural/assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
<script src="{%static "neural/assets/vendor/php-email-form/validate.js" %}"></script>
<script src="{%static "neural/assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
<script src="{%static "neural/assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
<script src="{%static "neural/assets/vendor/venobox/venobox.min.js" %}"></script>
<script src="{%static "neural/assets/vendor/aos/aos.js" %}"></script>

<style>
  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #020202;
     color: black;
     text-align: center;
  }
</style>

</head>

<body>
  <!--<body style="background-color:#ada8a8;"> -->
  <body style="background-color:#dddddd;"></body>
  <!-- ======= Header ======= note using d-inline-flex moved nav to the left --> 
  <header id="header" class="fixed-top">
    <div class="container d-flex justify-content-center align-items-center">
    <!--<div class="container d-flex align-content-space-evenly"> --> 
      <div class="logo mr-auto">
        <a href="{% url 'home' %}"><img src="{%static "neural/assets/img/neural-logo.jpg" %}" alt="" class="rounded img-fluid">   </a> 
      </div>

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li class="active"><a href="{% url 'home' %}"><i class="fa fa-home"> Home</i></a></li> 
          
          <li class="drop-down"><a href=""><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i> Browse The System</a>
            <ul>
              <li><a href="{% url 'devices' %}"><i class="fa fa-database" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i> Neural Inventory (Includes Configs and Configs Diffs)</a></li>

              <li><a href="{% url 'import_device_inventory' %}"><i class="fa fa-database" aria-hidden="true"></i>&nbsp<i class="fa fa-plus" aria-hidden="true"></i> Add Devices To Inventory</a></li>

              <li class="drop-down"><a href=""><i class="fa fa-television" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i> NDNA Inventories</a>
                <ul>
                  <li><a href="{% url 'ndna_ios_devices' %}"><i class="fa fa-television" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i> NDNA IOS Inventory</a></li>
                  <li><a href="{% url 'ndna_nxos_devices' %}"><i class="fa fa-television" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i> NDNA NXOS Inventory</a></li>
  
                </ul>
              </li>

              <li><a href="{% url 'neural_python_interpreter' %}"><i class="fa fa-code" aria-hidden="true"></i>&nbsp Python Interpreter Sandbox</a></li>
              <li><a href="{% url 'NDNA_Discovery' %}"><i class="fa fa-terminal" aria-hidden="true"></i>&nbsp Linux Utility Terminal (Or NDNA_Discovery)</a></li>

              
            <li><a href="{% url 'all_job_results' %}"><i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp Job Results (System Wide)</a></li> 
            <li><a href="{% url 'pcap_output_files' %}"><i class="fa fa-download" aria-hidden="true"></i>&nbsp Download PCAPs (System Wide)</a></li> 
            <li><a href="{% url 'ndna_diagram_xmls' %}"><i class="fa fa-download" aria-hidden="true"></i>&nbsp Download NDNA Diagram XMLs</a></li> 
            <!--<li><a href="{% url 'network_configs' %}"><i class="fa fa-download" aria-hidden="true"></i>&nbsp Network Config Backups and Diffs</a></li>-->

            <li><a href="{% url 'api-root' %}"><i class="fa fa-code" aria-hidden="true"></i>&nbsp Neural Rest API</a></li> 
            
            <li><a href="https://neural.domainname.com/django-rq/"><i class="fa fa-binoculars" aria-hidden="true"></i> Neural Redis Job Queue</a></li>
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-lock" aria-hidden="true"></i> Django Admin Interface</a></li>
            <!-- <li><a href="{% url 'scp_file_upload_to_neural' %}"><i class="fa fa-upload" aria-hidden="true"></i> Neural SCP File Transfers</a></li> -->
            
            <li class="drop-down"><a href=""><i class="fa fa-user" aria-hidden="true"></i>&nbsp {{ request.user.first_name }}'s Tasks</a>
              <ul> 
                <li><a href="{% url 'automation_output_configs' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp<i class="fa fa-download" aria-hidden="true"></i> Manage Output Configs</a></li>
                <li><a href="{% url 'generated_config_files' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp<i class="fa fa-download" aria-hidden="true"></i> Manage Config Templates</a></li>
                <li><a href="{% url 'view_all_scheduled_jobs' %}"><i class="fa fa-binoculars" aria-hidden="true"></i> Scheduled Jobs</a></li>
                <li><a href="{% url 'user_job_results' %}"><i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp Job Results</a></li>
              </ul>
            </li>
          
            <li class="drop-down"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp Admin</a>
              <ul>
                <li><a href="{% url 'admin:index' %}"><i class="fa fa-lock" aria-hidden="true"></i> Django Admin Interface</a></li>
                <li><a href="{% url 'admin_manage_inventory' %}"><i class="fa fa-lock" aria-hidden="true"></i> Manage Device Inventory</a></li>
                
                <li><a href="{% url 'admin_all_automation_output_configs' %}"><i class="fa fa-lock" aria-hidden="true"></i> Manage All Output Configs</a></li>

                <li><a href="{% url 'admin_all_generated_config_files' %}"><i class="fa fa-lock" aria-hidden="true"></i> Manage All Config Templates</a></li>
                <li><a href="{% url 'admin_view_all_scheduled_jobs' %}"><i class="fa fa-lock" aria-hidden="true"></i> Manage All Scheduled Jobs</a></li>

                <li><a href="{% url 'neural_backup_download' %}"><i class="fa fa-lock" aria-hidden="true"></i> Neural Server Backup (Only root has access)</a></li>
                <li><a href=""><i class="fa fa-lock" aria-hidden="true"></i> Neural Server Restore (Must be done by root via CLI)</a></li>
                <li><a href="http://neural.domainname.com/phpmyadmin/index.php"><i class="fa fa-file-text-o" aria-hidden="true"></i> neural-phpMyAdmin - View/Manage MySQL</a></li>
                
              </ul>
            </li>


            <li class="drop-down"><a href=""><i class="fa fa-link" aria-hidden="true"></i> Links</a>
              <ul>
                <li><a href="https://github.com/bspunt/ndna_v2_neural"><i class="fa fa-github" aria-hidden="true"></i> NDNAv2_NEURAL Git Repo</a></li>
                <li><a href="https://ndnav2neural.slack.com"><i class="fa fa-slack" aria-hidden="true"></i> NDNAv2_NEURAL Slack Channel</a></li>
                <li><a href="https://www.automate-the-network.com"><i class="fa fa-link" aria-hidden="true"></i> Automate The Network - NDNAv1 Official Website</a></li>
                <li><a href="https://www.linkedin.com/in/brettspunt/"><i class="fa fa-link" aria-hidden="true"></i> Developer's LinkedIn Page</a></li>
                <li><a href="https://www.w3schools.com/python/"><i class="fa fa-link" aria-hidden="true"></i> Python w3schools Page</a></li>
              </ul>
            </li>
            </ul>
          <li class="drop-down"><a href=""><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp<i class="fa fa-network-wired" aria-hidden="true"></i> Network Automation</a>
            <ul>
              <li class="drop-down"><a href=""><i class="fa fa-cogs fa-spin" aria-hidden="true"></i> NEURAL Based Ad-Hoc Automation</a>
                <ul>
                  <li><a href="{% url 'ad_hoc_automation_selected_devices' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Ad-Hoc/Free Form Using Device Selection</a></li>
                  <li><a href="{% url 'ad_hoc_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Ad-Hoc | Free Form</a></li>
                  <li><a href="{% url 'ad_hoc_automation_db_query' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Ad-Hoc Using Inventories</a></li>
                  <li><a href="{% url 'ad_hoc_unique_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Unique Ad-Hoc/Freeform Automation</a></li>
                </ul>
              </li>

              <li><a href="{% url 'ndna_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> NDNAv1 Based Ad_Hoc Automation</a></li>
              <li class="drop-down"><a href=""><i class="fa fa-cogs" aria-hidden="true"></i> Unique Automation</a>
                <ul>
                  <li><a href="{% url 'unique_automation' %}"><i class="fa fa fa-cogs" aria-hidden="true"></i> Using Neural Generated Configs</a></li>
                  <li><a href="{% url 'unique_automation_manual_configs' %}"><i class="fa fa fa-cogs" aria-hidden="true"></i> Using Custom Configs Upload</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Self Service Programs</a>
                <ul>

                  <li class="drop-down"><a href="#"><i class="fa fa-network-wired" aria-hidden="true"></i> NDNA Inventories</a>
                    <ul>
                      <li><a href="{% url 'self_service_ios_inventory' %}"><i class="fa fa-network-wired" aria-hidden="true"></i> Add/Update IOS Inventories</a></li>
                      <li><a href="{% url 'self_service_nxos_inventory' %}"><i class="fa fa-network-wired" aria-hidden="true"></i> Add/Update NXOS Inventories</a></li>
                </ul>
              </li> 
              <li><a href="{% url 'fw_ad_hoc_tcpdump_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Ad-Hoc Unique tcpdump Automation</a></li>
              <li><a href="{% url 'NDNA_Discovery' %}"><i class="fa fa-network-wired" aria-hidden="true"></i> Run NDNA (Network Discovery)</a></li>
            </ul>
          </li>
          <li><a href="{% url 'compliance_golden_configs' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Compliance (Import/View/Compare)</a></li>
          <li><a href="{% url 'napalm_get_automation' %}"><i class="fa fa-network-wired" aria-hidden="true"></i> Network Utilities (NAPALM Getters)</a></li>
          </ul>

          <li class="drop-down"><a href=""><i class="fa fa-file-text-o" aria-hidden="true"></i> Config-Templating</a>
            <ul>
              <li><a href="{% url 'generate_config_templates' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Generate Configurations</a></li>
              <li><a href="{% url 'unique_automation' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Push Configs to the Network</a></li>
              <li class="drop-down"><a href="{% url 'jinja2_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp<i class="fa fa-download" aria-hidden="true"></i> Manage Files</a>
                <ul>
                  <li><a href="{% url 'upload_config_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Upload a CSV Variable File</a></li>
                  <li><a href="{% url 'upload_jinja_config_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Upload a Jinja2 Template</a></li>

                  <li><a href="{% url 'jinja2_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Download Jinja2 Reference Templates</a></li>
                  <li><a href="{% url 'csv_dl_reference_templates' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Download Blank CSV Reference Templates</a></li>                
                  <li><a href="{% url 'generated_config_files' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ request.user.username }}! Manage Your Generated Config Files</a></li>
                </ul>
              </li>
                  
            </ul>
          </li>
          
          <li class="drop-down"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp<i class="fa fa-clock" aria-hidden="true"></i> Metrics</a>
            <ul>

              <li class="drop-down"><a href=""><i class="fas fa-bar-chart"></i> Neural Monthly Charts</a></a>
                <ul>
                  <li><a href="{% url 'monthly_log_stats' %}"><i class="fas fa-bar-chart" aria-hidden="true"></i> Monthly Logs</a></li>
                  <li><a href="{% url 'monthly_job_results_stats' %}"><i class="fas fa-bar-chart" aria-hidden="true"></i> Monthly Job Results</a></li>
                </ul>
              </li>

              <li class="drop-down"><a href=""><i class="fas fa-clock"></i> Neural Complete Database Charts</a></a>
                <ul>
                  <li><a href="https://neural.domainname.com:3000/d/ngKBwZpMk/neural-job-results?from=now-30d&orgId=1&to=now&refresh=5s"><i class="fas fa-bar-chart" aria-hidden="true"></i> Job Results & Logs</a></li>
                  <!-- <li><a href="http://neural.domainname.com:3000/d/rYdddlPWk/neural-server-stats?orgId=1&from=now-6h&to=now"><i class="fas fa-bar-chart" aria-hidden="true"></i> Job Results</a></li> -->
                </ul>
              </li>
              <li><a href="{% url 'user_disk_usage' %}"><i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp User Disk Usage (Configs Directory)</a></li>
              <li><a href="{% url 'logs' %}"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp Logs (datatables)</a></li>
              <li><a href="{% url 'all_job_results' %}"><i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp Job Results (datatables)</a></li>   

              <li><a href="http://neural.domainname.com:61208/"><i class="fa fa-television" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i>&nbsp Neural Server Stats (Glances)</a></li>
              <li><a href="https://neural.domainname.com:3000/d/rYdddlPWk/neural-server-stats?orgId=1&from=now-6h&to=now"><i class="fa fa-television" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i>&nbsp Neural Server Stats (Grafana)</a></li>
              
            </ul>

            {% if request.user.is_authenticated %}
            <li class="drop-down"><a href=""><b>Hello there {{ request.user.first_name }}!</b></a>
             <!--<a href="{% url "home" %}?next=/"><b>Hello {{ request.user.first_name }}! | Logout</b></a> -->
             <ul>
              <li><a href="{% url "logout" %}">Logout</a></li>
              <li><a href="{% url 'password_change' %}">Change Your Password</a></li>
             </ul>
            
            {% else %}
            <li><a href="{% url 'login' %}"> Login</a></li>
            {% endif %}
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->
<br>

  {% block content %}

  {% endblock %}

<!-- Needed for jquery/ajax progress bar -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


{% block javascript %}


{% endblock %}

<!-- end of jquery/ajax progress bar related  -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Template Main JS File note: having this in the header killed the mobile 
  responsivness of bootstrap and tables for logs/devices/search etc-->
<script src="{%static "neural/assets/js/main.js" %}"></script>

</body>
</html>