{% extends "datatables-base.html" %}

{% block content %}
<!-- ===== build tables format and search ==== -->
<div class="container mb-3 mt-3">
    <div class="text-left padding"><h6><p style="color:rgb(223, 238, 16)"><i> All Jobs <i>(System Wide)</i> w/ times ( ͡ᵔ ͜ʖ ͡ᵔ ) || <b>NOTE:</b> All Job Times are in UTC</i></p></h6></div>
    <p><a href="{% url 'view_all_scheduled_jobs' %}"><i class="fa fa-television" aria-hidden="true"></i>&nbsp<i class="fa fa-search" aria-hidden="true"></i> Back to your Jobs {{ request.user.username }}!</a></p>
    <table id="mydatatable" class="table table-striped table-bordered table-dark table-sm" style="width:100%">

            <thead>
                <tr>
                    <th>*System Wide* Scheduled Jobs with Times</th>
                </tr>
            </thead>

            <tbody>
                {% for job in all_jobs %}
                <tr>
                    <td>{{job}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>*System Wide* Scheduled Jobs with Times</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
    
    
    <script type="application/javascript">
    $(document).ready(function() {
        var table = $('#mydatatable').DataTable( {
            lengthChange: true,
        lengthMenu: [10, 25, 50],
            buttons: [ 'copy', 'excel', 'pdf', 'csv', 'print', 'colvis' ]
        } );
     
        table.buttons().container()
            .appendTo( '#mydatatable_wrapper .col-md-6:eq(0)' );
    } );
    </script>    
{% endblock content %}